### pyspark DataFrames - part -1

In [4]:
import pyspark

In [6]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [11]:
spark

In [14]:
# Reading the Dataset
df_pyspark = spark.read.csv('Data1.csv')

In [15]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [16]:
df_pyspark.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   Name|Age|Experience|
|  shiva| 24|         3|
|   aman| 23|         6|
|  hydra| 22|         7|
|kakashi| 21|        10|
| naruto| 20|         1|
+-------+---+----------+

In [31]:
df_pyspark = spark.read.option('header','true').csv('Data1.csv')

In [32]:
df_pyspark

DataFrame[Name: string, Age: string, Experience: string]

In [33]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [34]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [35]:
df_pyspark = spark.read.option('header','true').csv('Data1.csv',inferSchema = True)

In [36]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int]

In [38]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  shiva| 24|         3|
|   aman| 23|         6|
|  hydra| 22|         7|
|kakashi| 21|        10|
| naruto| 20|         1|
+-------+---+----------+

In [39]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [45]:
df_pyspark = spark.read.csv('Data1.csv',header = True , inferSchema = True)

In [47]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  shiva| 24|         3|
|   aman| 23|         6|
|  hydra| 22|         7|
|kakashi| 21|        10|
| naruto| 20|         1|
+-------+---+----------+

In [49]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [50]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [55]:
df_pyspark.columns[0:3]

['Name', 'Age', 'Experience']

In [58]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  shiva| 24|         3|
|   aman| 23|         6|
|  hydra| 22|         7|
|kakashi| 21|        10|
| naruto| 20|         1|
+-------+---+----------+

In [59]:
df_pyspark.select('Age')

DataFrame[Age: int]

In [70]:
df_pyspark.select('Age').show()

+---+
|Age|
+---+
| 24|
| 23|
| 22|
| 21|
| 20|
+---+

In [81]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [82]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [83]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    5|                 5|                 5|
|   mean| null|              22.0|               5.4|
| stddev| null|1.5811388300841898|3.5071355833500366|
|    min| aman|                20|                 1|
|    max|shiva|                24|                10|
+-------+-----+------------------+------------------+